<h1>Transactions</h1>
<p>These are all transactions belonging to <%= current_user.email %>:</p>

<%= form_for(@transaction) do |transaction_form| %>
	<%= render 'shared/error_messages', :object => transaction_form.object %>
	<%= render 'fields', :transaction_form => transaction_form %>
	
	<%= transaction_form.submit "Create Transaction" %>
<% end %>


<table>
	<thead>
		<tr>
			<th>From</th>
			<th>Amount</th>
			<th>To</th>
			<th>Description</th>
			<th>Date</th>
		</tr>
	</thead>
	<tbody>
		<% @transactions.each do |transaction| %>
			<tr>
				<td><%= transaction.debitted ? link_to(transaction.debitted.name, transaction.debitted) : transaction.custom_debit %></td>
				<!-- <td><%= transaction.custom_debit %></td> !-->
				<td><%= transaction.amount %></td>
				
				<!-- <td><%= transaction.custom_credit %></td> !-->
				<td><%= transaction.credited ? link_to(transaction.credited.name, transaction.credited) : transaction.custom_credit %></td>
				<td><%= transaction.description %></td>
				<td><%= transaction.created_at %></td>
			</tr>
		<% end %>
	</tbody>
</table>

